html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* prevent scrolling */
}

canvas {
    display: block; /* remove default inline spacing */
    position: fixed; /* stick to viewport */
    top: 0;
    left: 0;
}